/*
Theme Name: Impreza Child
Template: Impreza
Version: 1.0
Author:	UpSolution
Theme URI: http://impreza.us-themes.com/
Author URI: http://us-themes.com/
*/

/*Add your own styles here:*/

.service-block {

  
}
.image-circle-fet {
  border: 2px solid #ff6600;
  border-radius: 100%;
  box-shadow: 0 10px 0 #bf5630;
  height: 200px;
  overflow: hidden;
  width: 200px;
}
.s-app-se {
  max-height: 586px;
}
.f-image {
  text-align: center;
}
.hedding-features h2 {
  color: #fff;
}
.w-image.vc_custom_1460370091709.custom-s-image {
    position: relative;
    top: 40px;
}
.hediiding-p h3 {
  color: #eb7b30;
  font-size: 30px;
  text-align: center;
}
.icon-block {
  float: left;
  padding: 24px;
}
.text-block { float:right;
 width: 225px;
}

.w-contacts-item.for_email {
  margin-bottom: 20px;
}
.for_blognav {
  margin-bottom: 0;
  margin-top: 40px;
  padding: 0;
}
.info-contact {
  border-bottom: 1px solid #efefef;
  margin-bottom: 5px;
  padding-bottom: 5px;
  width: 100%;
}
.services-me .one-sixth .w-image {
  border: 3px solid #fff;
  border-radius: 100%;
  height: 153px;
  margin: 0 auto;
  overflow: hidden;
  width: 153px;
}
.services-me .one-sixth .w-image img {
  height: 100%;
  width: 100%;
} 
span.wpcf7-form-control-wrap {
  display: inline-block;
  margin-bottom: 15px;
  vertical-align: top;
  width: 100%;
}
.info-contact {
  float: left; 
  width: 100%;
}
.info-contact a {
  margin: 0;
  padding: 0;
}.info-contact  p{
  color: #585878;
  float: left;
  margin-top: 6px !important;
}
.info-contact h6 {
  color: #707070;
  float: left;
  font-size: 14px;
  margin: 0;
  padding: 0;
  width: 100%;
}


.w-comments {
    margin-top: 40px;
}
.our-services-content,.about-main-in { 
  padding-bottom: 40px !important;
}
.single-post .l-main {
  padding-top: 40px !important; 
}
div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
    color: #fff;
}
.single-post  .l-sidebar { padding:0px;}
.l-subfooter .widget {margin-bottom: 0px;}
.products-apnee-community .w-separator {
    margin-bottom: 0 ;  margin-bottom: 0 ;
}
.l-footer.layout_compact .l-subfooter.at_top {padding-bottom: 30px;padding-top: 30px;}
.vc_custom_heading {text-align: center !important;width: 100%;}
.l-main .w-contacts-item {display: block;}
.testing h1 {color: red;}
.transparent .at_middle .l-subheader-h {background:#f6f8f7;border-radius:10px; box-shadow: 2.5px 4.33px 0px 0px rgb( 182, 182, 182 );margin-top:40px; }
.transparent .at_middle .l-subheader-h .w-logo-img {margin-top:-36px;margin-left:-1px;height:auto;}
.transparent .at_middle .l-subheader-h nav ul li a:hover {background:#f6f8f7;color:#fff;}
.transparent .at_middle .l-subheader-h ul li a.active {background:#f6f8f7;color:#fff;}
.tp-mask-wrap .rev-btn {border-radius:22px;}
.aboutmain h2, .page-title-about h2,.hedding-text-bh h2  {color:#f58633;font-weight:900;background:url("images/headbg2.png") center bottom no-repeat;   padding-bottom: 14px;}
.page-title-all,.home-products  {color:#f58633;font-weight:900;margin-top: 40px;background:url("images/headbg2.png") center bottom no-repeat;   padding-bottom: 14px;}
.page-title-all  h2,.home-products   h2{ color:#f58633;}
.page-title-all  h2 span,.home-products h2 span {color:#535353;}
.aboutmain h2 span, .page-title-about h2 span,.hedding-text-bh h2 span {color:#535353;}
.l-content img.alignleft {border: 3px solid #ffffff;box-shadow: 0 0 2px #9f9f9f;float: left;margin-top: 10px  !important;} 
.servicemain h2 {color:#fff;font-weight:900;background:url("images/headb.png") center bottom no-repeat;padding-bottom:20px;}
.servicemain h3 {  color: #fff;  font-size: 24px;	   margin-top: 10px;  font-weight: 300;margin-bottom: 6px !important;}
.one-half .w-image, .one-third .w-image, .two-thirds .w-image, .one-quarter .w-image, .three-quarters .w-image {margin-bottom: 30px;}
.servicemain h3 span {font-weight:bold;}
.productmain h2 {color:#f58633;font-weight:900;background:url("images/headbg2.png") center bottom no-repeat;padding-bottom:20px;}
.productmain h2 span {color:#535353;} 
.productmain h3,.hedding-sub h3,.p-sub-hedding h3 {color: #1c1c1c;font-size: 24px;font-weight: 300;}
.products-apnee-community img {border: medium none !important;box-shadow: none !important;}
.p-sub-hedding h3 span { color:#F58633;font-weight:bold;}
.h-productmain h3 span,.hedding-sub h3 span {font-weight:bold;color:#497fa2;}
.higllighted_p {background: #f58633 none repeat scroll 0 0;color: #fff;font-weight: lighter;margin-bottom: 30px;margin-top: 30px;padding: 20px 50px;
text-align: center;}

.h-productmain .vc_custom_heading {color: #8c8c8c;display: block;font-size: 15px;font-weight: normal;margin-bottom: 10px !important;margin-top: 13px !important;min-height: 105px;}
.facebook .w-socials-item-link ,.twitter .w-socials-item-link ,.linkedin .w-socials-item-link { color:#fff !important ;}
.contact-us-mian .facebook .w-socials-item-link ,.contact-us-mian .twitter .w-socials-item-link ,.contact-us-mian .linkedin .w-socials-item-link ,.contact-us-mian .google .w-socials-item-link { color:#bfbfbf !important ;}
.contact-us-mian span.wpcf7-not-valid-tip {
 
  color: red;
 
}
.contact-us-mian div.wpcf7-mail-sent-ok {
    border: 2px solid #398f14;
    color: #666666;
}
.one-sixth:last-child {
  display: none;
}

.services-me .one-sixth {
  margin-left: 2% !important;
  width: 18% !important;
} 
.contact-us-mian  div.wpcf7-validation-errors {
  border: 2px solid #f7e700;
  color: red;margin-bottom: 25px;
}
.contact-us-mian  div.wpcf7-response-output {margin-bottom: 25px;}
.facebook .w-socials-item-link:hover { color:#42599e !important ;}
.twitter .w-socials-item-link:hover   { color:#55acee !important; }
.linkedin .w-socials-item-link:hover  { color:#117eb9 !important ;} 
.google .w-socials-item-link:hover  { color:#DB4437 !important ;}
.w-socials-item.facebook .w-socials-item-link-hover,.w-socials-item.twitter .w-socials-item-link-hover,.w-socials-item.linkedin .w-socials-item-link-hover ,.w-socials-item.google .w-socials-item-link-hover { background:none ;}
.footer-contactus .your-message {margin-bottom: 24px;margin-top: 24px;}
.contactmain .footer-contactus {margin-top: 50px;}
.productmain  .l-content p,.productmain  .l-content p {margin: 0 0px;} 
.productmain .w-btn,.productmain button,.productmain input[type="submit"] {border: medium none;border-radius: 25px;font-size: 16px;font-weight: inherit;line-height: 47px;margin: 5px 0;overflow: hidden;padding: 0 32px;text-transform: inherit;transition: background-color 0.3s ease 0s, box-shadow 0.3s ease 0s, color 0.3s ease 0s;z-index: 0;}
.contactmain h2 {color:#fff;font-weight:900;background:url("images/headb.png") center bottom no-repeat;padding-bottom:20px;}
/*.contactmain [type="text"] {background:transparent;border-radius:30px;border:1px solid #dbdbdb;color:#dbdbdb;padding:25px 0px;}
.contactmain [type="email"] {background:transparent;border-radius:24px;border:1px solid #dbdbdb;color:#dbdbdb;padding:25px 0px;}
.contactmain [type="url"] {background:transparent;border-radius:24px;border:1px solid #dbdbdb;color:#dbdbdb;padding:25px 0px;}
*/
.contactmain input[type="text"], .contactmain input[type="password"], .contactmain input[type="email"], .contactmain input[type="url"], .contactmain input[type="tel"], .contactmain input[type="number"], .contactmain input[type="date"], .contactmain input[type="search"], .contactmain input[type="range"], select  {height: 55px;background: transparent none repeat scroll 0 0;border: 1px solid #dbdbdb;border-radius: 25px;color: #dbdbdb;padding: 14px 24px;}.footer-contactus .your-message textarea {background:transparent; border-radius:25px;border:1px solid #dbdbdb;color:#dbdbdb;min-height:200px;}
.footer-contactus [type="submit"] {width:100%;border-radius:24px;padding:15px 0px;}
.footer-contactus .your-name,.footer-contactus .your-email, .footer-contactus .sevices {width: 32% !important;}  
.footer-contactus .sevices {float: right;} 
.footer-contactus .sevices select {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  color: #a0a0a0;
  padding: 0 0 0 14px;}
.contact-us select {
  border: medium none;
  border-radius: 5px;
  color: #b3b3b3;
  height: 40px;
  line-height: normal;
  padding: 0 7px;
}
.footer-contactus .your-email {margin: 0 2%;}
.l-footer .w-socials-list {text-align:center;}
.l-footer .w-socials-list .w-socials-item {display:inline-block;float:none;}
.l-footer .w-socials-list .w-socials-item .w-socials-item-link {font-size:42px;color:#fff;}

/*header*/
.l-header.layout_standard.sticky .w-logo-img, .l-header.layout_extended.sticky .w-logo-img {height: 48px !important;margin-top: 2px;}
.l-subheader.at_middle, .l-subheader.at_middle .w-lang-list, .l-subheader.at_middle .type_mobile .w-nav-list.level_1 {background-color: #fff;}
.type_desktop .menu-item-language > a, .l-header .type_desktop .w-nav-anchor.level_1, .type_desktop [class*="columns"] .menu-item-has-children .w-nav-anchor.level_2 {font-size: 16px;line-height: 60px;}
.l-subheader.at_middle, .l-subheader.at_middle .w-lang-list, .l-subheader.at_middle .type_mobile .w-nav-list.level_1 {background-color: #fff;}
.l-header.layout_standard.transparent .l-subheader.at_top, .l-header.layout_extended.transparent .l-subheader.at_top { background:none;}
.l-subheader .w-socials-item .w-socials-item-link {color: #fff ;font-size: 22px;height: 77px;line-height: 86px;width: 40px;}
.l-subheader .w-socials {  margin-right: 233px;}
.l-section-h {padding-top: 0px  !important; padding-bottom:0px !important;}
.aboutmain,.servicemain,.h-productmain,.contactmain { padding-bottom:40px !important; padding-top:20px !important;} 
/*.wpb_wrapper p {
color: #797979;
font-size: 20px;
}
*/
/*services */
.sticky {  box-shadow: 0 4px 0 #B6B6B6; }
.l-content .wpb_text_column h1:last-child, .l-content .wpb_text_column h2:last-child, .l-content .wpb_text_column h3:last-child, .l-content .wpb_text_column h4:last-child, .l-content .wpb_text_column h5:last-child, .l-content .wpb_text_column h6:last-child, .l-content .wpb_text_column p:last-child, .l-content .wpb_text_column ul:last-child, .l-content .wpb_text_column ol:last-child {margin-bottom: 0px;}
.g-cols.wpb_row.offset_small.vc_inner {margin-top: 46px;}
.servicemain .vc_custom_heading {font-size: 16px;font-weight: 300;margin: 0 !important;}
.l-footer.layout_compact .l-subfooter.at_bottom {font-size: 0.9em;line-height: normal;padding-bottom: 20px;padding-top: 20px;text-align: center;}
.l-header .w-nav-item.level_1.active .w-nav-anchor.level_1, .l-header .w-nav-item.level_1.current-menu-item .w-nav-anchor.level_1, .l-header .w-nav-item.level_1.current-menu-ancestor .w-nav-anchor.level_1,.transparent .at_middle .l-subheader-h nav ul li a:hover,.no-touch .l-header .menu-item-language > a:hover, .no-touch .type_desktop .menu-item-language:hover > a, .no-touch .l-header .w-nav-item.level_1:hover .w-nav-anchor.level_1 {background-color: #f58633 !important;box-shadow: 0 4px 0 #d56d20;color: #fff !important;}
.transparent .menu-item-type-post_type:last-child a {border-radius: 0 5px 5px 0 !important;}
.sticky .menu-item-type-post_type:last-child a {border-radius:  0 !important;}
.staffing-services h6 {color: #f58633;font-size: 18px;margin: 0;}
.hedding-text-bh {font-weight: 300;margin-top: 100px; margin-bottom: 100px;text-transform: capitalize;}
div.wpcf7-validation-errors {  border: 2px solid #f7e700;  color: #fff;}
span.wpcf7-not-valid-tip {border: 1px solid #ef0000;border-radius: 6px;color: #fff;display: block;font-size: 12px;margin-top: 10px;padding: 1px 10px;}
.products-apnee-community .g-cols.offset_small > .one-quarter {text-align: center;}
.phone_sidebar {float: left;position: absolute;right: 0;top: 8px;width:209px;}
 .servicemain h3 a { color:#fff;}
 .servicemain h3 a:hover {color:#f6f6f6;}
.single-post .l-section.wpb_row.height_medium.with_img.custom_div_background {padding-top: 96px;}
.services-me p {
  color: #fff;
  font-size: 14px;
  height: 74px;
  line-height: normal; 
  margin-bottom: 2px !important;
  overflow: hidden;
  text-align: center;
}.services-me p a {color: #2f0c00;font-size: 18px;}
.phone_sidebar .fa-phone {color: #fff;float: left;font-size: 24px;margin-right: 13px;margin-top: 26px;}
.phone_sidebar .textwidget {float: left;line-height: normal;margin: 0;padding: 0;}
.phone_sidebar .widget.widget_text {float: left;line-height: normal;margin: 0;padding: 0;}
.phone_sidebar p {color: #fff !important;float: right;font-size: 22px;font-weight: 500;line-height: normal;}
.other-services a {
  bottom: 20px;
  color: #00abe3;
  float: right;
  font-weight: 400;
  padding: 0 0 2px;
  position: relative;
}
.it-trainings a {
  color: #00abe3; 
  font-weight: 400;}
 .syllabus_doc strong{color:#F58633;}
 .syllabus_doc u{color:#F58633;font-weight: 400;}

/*** portfolio page***/
.about-website-container{position: relative;top: -281px;}
.portfolio-in{}
.about-us-row {padding: 40px 35px;}
.l-canvas.sidebar_none .l-section.about-website-container{padding-top:281px;padding-bottom:200px;}
.about-us-row .one-half h3 {
	color: #f58633;
	font-size: 31px;
	padding-bottom: 10px;
}

.about-us-row .one-half h3 span{color:#535353;}
.about-us-row .wpb_wrapper p{ font-size: 17px;}
.about-website-container h3{font-size: 31px; color: #fff;padding-bottom: 10px;}
.about-website-container .wpb_wrapper p{ font-size: 17px; color: #fff;}
.mobile-app-row h3{font-size: 31px;padding-bottom: 10px;color: #f58633;}
.mobile-app-row h3 span{color:#535353;}
.mobile-app-row .wpb_wrapper p{ font-size: 17px;}
/*.website-portfolio-container .wpb_wrapper{position: absolute;
bottom: 100px;}*/
.mobile-app-row {padding-bottom: 100px;}
.web-portfolio-container{position: absolute;bottom: -200px;width: 100%; background: #ffffff; padding: 17px; }
.web-portfolio-container .portfolio-left {background:black;height:550px; background-repeat: no-repeat; background-size:100%;}
.web-portfolio-container .portfolio-right .portfolio-right-child {background:red;height:267px;background-size:100%;}
.portfolio-right .one-half{padding-bottom:17px;margin-left: 0px !important;padding-left: 17px;}
.apps-portfolio-container .web-portfolio-container{position: relative; bottom: 100px;margin-bottom: 0px;padding-left: 0; margin-top:0px !important;}
.mobile-app-container{margin-top: 265px;}
.website-portfolio-container{}
.one-half.right-sps{ margin-left: 0px;}

.g-cols.offset_small.web-portfolio-container  > .one-half{width: 50%;margin-left: 0px;}
.portfolio-right .g-cols.offset_small > div{margin-left: 0;padding-left: 17px;width: 50%;}
.portfolio-left-innr{height: 100%;
background: rgba(0,0,0,0.8);
text-align: center;
padding: 40px;}
.portfolio-left-innr img{padding: 30px 0 40px;}
.portfolio-left-innr p{font-size: 22px;
color: #fff;
line-height: 30px;}
.portfolio-left-innr .btn.btn-primary {
	background: #f58633;
	color: #fff;
	font-size: 15px;
	padding: 10px 60px;
	margin: 20px 0 0 0;
	display: inline-block;
}
.portfolio-right-child-innr{background:transparent;	height: 100%;text-align: center; cursor: pointer;}
.portfolio-right-child-innr>img{padding: 85px 0px 30px; display: none; margin: 0 auto;width: 180px;}
.portfolio-right-child-innr .btn.btn-primary{background: transparent; color: #ffffff; border: 1px solid #7c7c7c; font-size: 15px;padding: 10px 0px;display: none; width:160px; margin: 0 auto;}


.portfolio-right-child-innr:hover {background: rgba(0,0,0,0.8);
	transition: all 0.8s;}
.portfolio-right-child:hover img{display: block;}
.portfolio-right-child:hover .btn.btn-primary{display: block;}

.apps-portfolio-container .web-portfolio-container .one-half.right-sps{padding-left: 17px;}
.web-portfolio-container .g-cols.offset_small > .one-half{margin-left: 0;width: 50%;}
.apps-portfolio-container .portfolio-right-child-innr > img{width: 100px;}

@media only screen and (max-width:1150px) {
.servicemain h3 {
    font-size: 20px;}
.text-block{width:180px;}
.text-block h5{ font-size:20px;}
    .web-portfolio-container .portfolio-right .portfolio-right-child{background-size: cover;}
    .web-portfolio-container .portfolio-left{background-size: cover;}
    .web-portfolio-container .portfolio-right .portfolio-right-child{background-size: cover;}
}
@media only screen and (max-width:980px) {

.products-apnee-community img.alignleft, .product-mobile .w-image  img {border: medium none !important;box-shadow: none !important;float: none !important;width: auto;}
.products-apnee-community .wpb_text_column,.product-mobile .wpb_text_column .w-image {text-align: left; }
.products-apnee-community .wpb_text_column p,.product-mobile .wpb_text_column p{text-align: left;}
.w-separator.size_medium {margin: 0px 0;}
.g-cols.offset_small > .one-quarter {text-align: center;width: 25% !important;}
.l-subheader.at_middle {text-align: right;line-height: 30px;}
.our-services-content img {margin-bottom: 0 !important;margin-right: 20px !important;width: 45%;}
.hedding-text-bh {font-size:24px;margin:60px 0 !important;}
.l-subheader .w-socials {top: 29px;}
.w-nav-control {color: #bfbfbf !important;font-size: 30px;margin-right: 14px;padding: 9px 0;width: 40px;}
.transparent .at_middle .l-subheader-h .w-logo-img {height: 50px;margin-left: -1px;margin-top: -17px;}
.w-nav.type_mobile .w-nav-control {display: block;line-height: 31px;}
.tp-caption.rev-btn.contact-but.rs-hover-ready {right: -5px }
.tp-caption.rev-btn.learn-but.rs-hover-ready {left: -74px;}.l-header.pos_fixed .l-subheader.at_top {display: block;}
.l-subheader .w-socials-item .w-socials-item-link {color: #fff !important;float: right;font-size: 21px;height: 32px;line-height: 36px;width: 34px;}
.l-subheader.at_top .w-socials {float: right !important;position: absolute;right: 0;}
.services-me p { font-size:12px;
max-height: 48px;}
.servicemain h3 {
font-size: 18px;}
.text-block {
  width: 170px;}
.text-block h5{ font-size:18px !important;}
}
@media only screen and (max-width:940px) {
.servicemain h3 {
 font-size: 16px;max-height: 48px;}
 .text-block {
  width: 150px;}
 }
@media only screen and (max-width:920px) { 
.services-me p {
    font-size: 12px;
    max-height: 48px;}
.text-block {
  width: 130px;
}
.text-block h5 {
  font-size: 13px;
}
	}
@media only screen and (max-width:890px) {
	.services-me .one-sixth {
  margin-left: 0 !important;
  width: 100% !important;
}
.hedding-text-bh {font-size: 22px;}
.phone_sidebar .fa-phone {font-size: 20px;margin-right: 6px;margin-top: 14px;}
.phone_sidebar p {
  font-size: 18px;
  margin: 23px 0 0;
}
.l-subheader.at_top .w-socials {float: right !important;position: absolute;right: 190px;top: 3px;}
.phone_sidebar .textwidget {margin: -13px 0 0;}
.phone_sidebar {width: 173px;top: 0;}
.w-nav.type_mobile .w-nav-anchor.level_1 {padding: 6px 13px;font-size: 15px !important;}
.w-nav.type_mobile .w-nav-list.level_1 {clear: both;margin-left: 0;margin-right: 0;overflow-y: auto;padding-left: 0;padding-right: 0;padding-top: 0 !important;position: absolute;width: 100%;top: 54px;}
.l-content img.alignleft {
  float: left;
  margin: 0 40px 40px 0;
}
.text-block h5{ font-size:12px;}
}
@media only screen and (max-width:768px) {
.text-block {
  float: left;
  padding-left: 20px;
  padding-top: 23px;
  width: 225px;
}
    .portfolio-in{position: static;}
    .about-website-container{position: relative;top: 0;
margin-top: 40px;}
    .l-canvas.sidebar_none .l-section.about-website-container {
    padding-top: 20px;
    padding-bottom: 20px;
   
}

.web-portfolio-container {
    position: static;
    bottom: 0;
    padding-top: 0;
}

.mobile-app-container {
    margin-top: 0;
    margin-bottom: 30px;
}

.apps-portfolio-container .web-portfolio-container {
    position: static;
    margin-top: 30px;
}
    
 .mobile-app-row {
	padding-bottom: 0;
}   
    .web-portfolio-container .g-cols.offset_small > .one-half{margin-bottom: 17px !important;
padding-bottom: 0px;padding-left: 0;} 

    
}

@media only screen and (max-width:660px) {
	.services-me .one-sixth {
  margin-left: 0 !important;
  width: 100% !important;
}
.l-subheader.at_middle {text-align: right;line-height: 37px !important;}
.our-services-content img {margin-bottom: 0 !important;margin-right: 20px !important;padding: 0;width: 45%;}
.higllighted_p {margin-bottom: 20px;margin-top: 0;padding: 10px;}
.vc_custom_1459250096204 {margin-bottom: 24px !important;}
.l-canvas.sidebar_none .l-section {padding: 0 30px;}
.l-section-h {padding: 15px 0;}
.l-footer.layout_compact .l-subfooter.at_bottom {padding-bottom: 4px;padding-top: 10px;}
.l-footer.layout_compact .l-subfooter.at_top {padding-bottom: 10px;padding-top: 10px;}
.l-footer .w-socials-list .w-socials-item .w-socials-item-link {font-size: 33px;}
.hedding-text-bh {font-size: 17px;}
.w-separator.size_medium {margin: 10px 0;}
.g-cols.wpb_row.offset_small.vc_inner {margin-top: 16px;}
.l-content p {margin: 0 0 0.5em;}
.products-apnee-community .g-cols.offset_small  .one-quarter {width: 25% !important;  text-align: center !important;}
.vc_custom_heading {text-align: center !important;width: 100%;}

}
@media only screen and (max-width:600px) {
	.w-blog.layout_smallcircle .w-blog-post-preview, .w-blog.layout_smallsquare .w-blog-post-preview {
 border-radius: 0;
 float: left;
 margin-bottom: 20px;
 max-width: 100%;
 width: 100%;
}
.w-blog-post-preview img {
 display: list-item;
 float: none !important;
 margin: 0 !important;
 text-align: center;
 width: 100%;
}
.tp-caption.rev-btn.learn-but.rs-hover-ready {left: -55px ;}
.tp-caption.rev-btn.contact-but.rs-hover-ready {right: -20px ;}
.tp-caption.rev-btn.contact-but.rs-hover-ready, .tp-caption.rev-btn.learn-but.rs-hover-ready {border-radius: 12px;font-size: 17px ;font-weight: normal ;padding: 9px ;}
.tp-loop-wrap {margin-top: 20px ;}
.tp-caption.rev-btn.learn-but.rs-hover-ready,.tp-caption.rev-btn.contact-but.rs-hover-ready { display:none;}
.l-subheader, .l-subfooter, .l-titlebar, .l-canvas.sidebar_left .l-main, .l-canvas.sidebar_right .l-main, .l-canvas.sidebar_none .l-section {padding-left: 10px !important;padding-right: 10px !important;}
.l-section-h {padding: 15px 0;}
.one-half .w-image, .one-third .w-image, .two-thirds .w-image, .one-quarter .w-image, .three-quarters .w-image {margin-bottom: 10px;}
.contactmain input[type="text"], .contactmain input[type="password"], .contactmain input[type="email"], .contactmain input[type="url"], .contactmain input[type="tel"], .contactmain input[type="number"], .contactmain input[type="date"], .contactmain input[type="search"], .contactmain input[type="range"], select {border-radius: 15px;height: 37px;padding: 12px 23px;}
.footer-contactus .your-message textarea {border-radius: 15px;min-height: 130px;}	
.hedding-text-bh {margin-top: 30px;}
.hedding-sub {margin-bottom: 4px !important;}
}



@media only screen and (max-width:480px) {
	.hedding-text-bh {
    margin-top: 50px;
    margin-bottom: 40px;
}
.widget:last-child {
    margin-bottom: 30px;
}
.w-map {height: 210px !important;}
.l-section.for_blognav .l-section-h{padding: 10px 0;}
.single-post .l-content,.l-canvas.sidebar_right .l-sidebar  {padding: 0 10px;width: 100% !important;}
h2.w-blog-post-title a,h1.w-blog-post-title {font-size: 20px;line-height: 22px;}
.w-blog.layout_smallcircle .w-blog-post-preview, .w-blog.layout_smallsquare .w-blog-post-preview {height: 200px;}  
.w-blog.layout_smallcircle .w-blog-post-preview {border-radius:0px  !important;}
.one-third .w-image.wpb_wrapper {width: 100% !important;}
.productmain h3, .hedding-sub h3, .p-sub-hedding h3 {margin-top: 10px;float: left;width: 100%;}
h2 {font-size: 15px;}
.w-socials.size_large .w-socials-item-link {font-size: 15px !important;line-height: 34px;height: 24px;width: 22px;}
.l-section.height_small .l-section-h {padding: 0 0;}
.one-half .w-image, .one-third .w-image, .two-thirds .w-image, .one-quarter .w-image, .three-quarters .w-image {padding-bottom: 10px;width: 50% !important;margin: auto !important;}
.products-apnee-community .g-cols.offset_small .one-quarter {width: 50% !important;text-align: center !important;}
.our-services-content img {margin-bottom: 0 !important;margin-right: 0 !important;padding: 0;width: 100%;}
.footer-contactus .your-name, .footer-contactus .your-email, .footer-contactus .sevices {width: 100% !important;}
.footer-contactus .your-email {margin: 0;}
.footer-contactus .your-message {margin-bottom: 6px;margin-top: 2px;}
.w-nav-control {font-size: 22px;margin-right: 14px;padding: 4px 0 0;}
.l-header.layout_standard.sticky .w-logo-img, .l-header.layout_extended.sticky .w-logo-img {height: 29px !important;}
.l-subheader.at_top .w-socials {float: right !important;position: absolute;right: 184px;top: 6px;}
.w-nav.type_mobile, .w-nav.type_mobile .w-nav-control {display: block;line-height: 30px;}
.transparent .at_middle .l-subheader-h {background: #f6f8f7 none repeat scroll 0 0;border-radius: 5px;box-shadow: 2px 3px 0 0 rgb(182, 182, 182);margin-top: 37px;}
.tp-caption.rev-btn.learn-but.rs-hover-ready {left: -55px ;top: 10px;}
.tp-caption.rev-btn.contact-but.rs-hover-ready {right: -7px;top: 10px;}	
.transparent .at_middle .l-subheader-h .w-logo-img {height: 40px;margin-left: -1px;margin-top: -30px;}
.w-nav.type_mobile .w-nav-list.level_1 {top: 40px;}

.l-subheader .w-socials-item .w-socials-item-link {color: #fff !important;float: right;font-size: 16px;height: 23px;line-height: 30px;width: 27px;vertical-align:top;}
.tp-caption.rev-btn.contact-but.rs-hover-ready, .tp-caption.rev-btn.learn-but.rs-hover-ready {border-radius: 8px;font-size: 12px ;font-weight: normal ;padding: 5px ;}
.tp-loop-wrap {margin-top: 5px ;padding: 0;top: 10px;}
.ult_modal .ult_modal-body {
 line-height: inherit;
 padding: 5px;
}
    .portfolio-left-innr .btn.btn-primary{padding: 10px 30px;}
    .portfolio-left-innr p{font-size: 17px;line-height: 19px;}
}
@media only screen and (max-width:450px) {
.l-subheader.at_top .w-socials {top: 0px;}
}
@media only screen and (max-width:360px) {
.hedding-sub {float: left;margin-bottom: 10px !important;margin-top: 10px !important;width: 100%;}
.transparent .at_middle .l-subheader-h {border-radius: 3px;margin-top: 29px;}
.phone_sidebar .fa-phone {font-size: 16px;margin-right: 9px;margin-top: 10px;}
.tp-caption.rev-btn.learn-but.rs-hover-ready {left: -25px !important;}
.phone_sidebar {width: 145px;}
.phone_sidebar p {font-size: 16px;margin: 20px 0 0;}
.l-subheader.at_top .w-socials {right: 144px;top: 0;}
.tp-caption.rev-btn.contact-but.rs-hover-ready, .tp-caption.rev-btn.learn-but.rs-hover-ready {border-radius: 8px;font-size: 10px !important;font-weight: normal !important;padding: 4px !important;}
.l-subheader .w-socials-item {
  vertical-align: top;}

}
@media only screen and (max-width:320px) {
.hedding-text-bh {font-size: 12px;margin-top: 30px;}
.w-nav.type_mobile .w-nav-list.level_1 {top: 30px;}
.l-subheader.at_top .w-socials {right: 144px;top: -6px;}
.tp-caption.rev-btn.learn-but.rs-hover-ready {left: -35px !important;}
.l-header .type_mobile .w-nav-anchor.level_1 {font-size: 13px;padding: 6px 11px;}
.transparent .at_middle .l-subheader-h .w-logo-img {height: 36px;margin-left: 0px;margin-top: -21px;}
.w-nav.type_mobile .w-nav-control {display: block;line-height: 30px;}
.productmain h3, .hedding-sub h3, .p-sub-hedding h3 {font-size: 19px;}
.w-nav-control {font-size: 18px; margin-right: 14px;padding: 3px 0 0;}
.l-subheader.at_middle {text-align: right;line-height: 27px !important;}
.l-subheader .w-socials-item {
  vertical-align: middle !important;}
  .text-block {width:210px; }
  .text-block h5{font-size:12px;}
}
